/* Specific styles for Projects page */

h1 {
    margin-top: 20px;
    font-size: 3em;
    text-shadow: 0 0 2px #00FF00, 0 0 5px #00FF00;
    text-align: center;
    z-index: 1;
    width: 100%;
  }

  .skill-category {
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px #00FF00, 0 0 5px #00FF00;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    width: calc(30% - 120px); 
    margin: 10px 0; 
    z-index: 1;
}

.skill-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px
}

.skill-category img.category-icon {
  width: 90px;
  height: 90px;
}

.skill-category img.category-icon-cert {
  width: 120px;
  height: 120px;
  margin-bottom: -32px;
}
  
.skill-category h3 {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  color: #00FF00;
  text-align: left;
}

.skill-category h2 {
  margin: 0;
  padding: 10px;
  font-size: 1.5em;
  color: #00FF00;
  text-align: center;
  text-shadow: 0 0 2px #00FF00, 0 0 2px #00FF00;
}

.skill-box {
  background: rgba(0, 0, 0, 0.959);
  padding: 10px;
  margin-left: 37%;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 20;
  max-width: 25%;
  text-align: center;
  z-index: 1; 
  position: relative;
  border: 2px solid #00FF00;
  box-shadow: 0 0 5px #00FF00, 0 0 10px #00FF00;
}
